In [5]:
import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt

__Задача 1__


Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]

scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [15]:
df = pd.DataFrame({'salary':[35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'scoring':[401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})
df

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [16]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [17]:
np.cov(X, Y)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

Коэффициент корреляции Пирсона

In [18]:
corr = cov / (X.std() * Y.std(ddof = 1))
corr

0.8874900920739164

In [19]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

__Задача 2__

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [27]:
IQ = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [40]:
p = 0.95
alpha = 1 - p
n = IQ.shape[0]
mean = IQ.mean()
std = IQ.std(ddof=1)


n, mean, std, alpha

(10, 118.1, 10.54566788359614, 0.050000000000000044)

In [41]:
t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

In [42]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(111.56384743341334, 124.63615256658665)

__Задача 3__

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [43]:
s = 25
n = 27
mean = 174.2
p = 0.95
alpha = 1 - p

In [45]:
t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

In [46]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(170.22222422220577, 178.1777757777942)